/**
 * bpmn + custom icon definitions
 */
@font-face {
    font-family: 'bpmn';
    src: url(../font/bpmn.eot);
    src: url(../font/bpmn.eot#iefix) format('embedded-opentype'), url(../font/bpmn.woff) format('woff'), url(../font/bpmn.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "bpmn";
}
.icon-bpmn-io-logo:before {
    content: '\e800';
}
.icon-loading:before {
    content: '\f415';
}
.icon-picture:before {
    content: '\f416';
}
.icon-plus:before {
    content: '\f417';
}
.icon-plus-circled:before {
    content: '\f418';
}
.icon-minus:before {
    content: '\f419';
}
.icon-info:before {
    content: '\f41a';
}
.icon-download:before {
    content: '\f41b';
}
.icon-undo:before {
    content: '\f41c';
}
.icon-redo:before {
    content: '\f41d';
}
.icon-open:before {
    content: '\f41e';
}
.icon-size-reset:before {
    content: '\f41f';
}
.icon-comment:before {
    content: '\f420';
}
.icon-keyboard:before {
    content: '\f423';
}
.icon-resize-full:before {
    content: '\f425';
}
.icon-resize-small:before {
    content: '\f426';
}
